- content_for :title do
  %title= "#{@model} at the 404"

- content_for :body do
  #customers
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand #{@model} at the 404
          %a.btn.btn-large.pull-right{:href=>"/admin"} Panel
          %a.btn.btn-large.pull-right{:href=>"/admin/create/#{@model}"} Create #{@model}
         
    #display.container
      .row
        .span11.hero-unit
          %table
            %thead
              %tr
                %th ID
                - @model.property_names.each do |name|
                  %th= name 
            %tbody
              - @instances.each do |instance|
                %tr
                  %td
                    %a{:href=>"/admin/inspect/#{@model}/#{instance.id.gsub(/.*?:id:/,'')}"}= instance.id
                  - @model.property_names.each do |name|
                    - value = instance.property(name)
                    %td
                      - if value.to_s.match(/:id:/)
                        - if value.class == Array
                          %ul
                            - value.each do |entry|
                              %li= model_link(entry)
                        - else
                          = model_link(value)

                      - else
                        = value


        
