
- content_for :title do
  %title= "Registration Complete"

- content_for :body do
  #registration
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Registration Complete
          %a.btn.btn-large.btn-primary.pull-right{:href=>"/events/calendar"} Events
                                
    #display.container
      .row
        .span8.offset1.hero-unit
          .row
            .span5
              %p 
                #{@confirmation.person.first_name.capitalize}, you have successfuly registered for 
                #{@confirmation.event.title} at #{@confirmation.event.location} starting at 
                #{Time.at(@confirmation.event.date.to_i).strftime("%l:%M%P %A, %-d %B, %Y")}.
            .span2  

        .span2


        
